@inherits LayoutComponentBase
<div class="login-page" style="min-height: 496.781px;">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Identity/Account/Login">Micro Finance Login</a>
        </div>
        <div class="card">
            @Body
        </div>
    </div>
</div>