@using MicroFinancing.Pages.Reports
@using MicroFinancing.WebAssembly.Pages.Dashboard
<div class="card">
    <div class="card-header">
        <b>Total Collection this day</b>
        <a @onclick="Refresh" class="float-right" style="cursor: pointer;"><span class="fas fa-sync-alt"></span></a>
    </div>
    <div class="card-body">
        <TopSalesChart   DateFrom="DateTime.Now.Date" DateTo="DateTime.Now.Date.AddDays(1)"></TopSalesChart>
    </div>
</div>