@page "/Login"
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="css/login.css" rel="stylesheet"/>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown" style="margin-top:10em">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first mt-5">
            <h1>CCC Lending </h1>
        </div>

        <!-- Login Form -->
        <EditForm Model="LoginModel" OnSubmit="OnSubmit">
            <InputText @bind-Value="LoginModel.UserName" class="fadeIn second" name="login" placeholder="login" id="Login"></InputText>
            <InputText type="password" id="Password" class="fadeIn third" placeholder="password" @bind-Value="LoginModel.Password"></InputText>
            <button type="submit" class="fadeIn fourth" id="btnLogin">Log In</button>
        </EditForm>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p class="text-danger">@ErrorMessage</p>
        }
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>