@page "/Maintenance/Terms"
<div class="card">
    <div class="card-header">
        <div class="float-left">
            <h5>Terms</h5>
        </div>
        <div class="float-right">
            <Syncfusion.Blazor.Buttons.SfButton IconCss="fas fa-plus" OnClick="AddTerm" />
        </div>
    </div>
    <div class="card-body">
        <SfGrid AllowPaging="true" TValue="TermDto" @ref="TermGrid">
            <Syncfusion.Blazor.Data.SfDataManager AdaptorInstance="typeof(TermAdaptor)" Adaptor="Adaptors.CustomAdaptor" />
            <GridColumns>
                <GridColumn Field=@nameof(TermDto.Name) Width="150"></GridColumn>
                <GridColumn Field=@nameof(TermDto.TermEnum) HeaderText="Type" Width="150"></GridColumn>
                <GridColumn Field=@nameof(TermDto.Number) HeaderText="Cycles" Width="150"></GridColumn>

            </GridColumns>
        </SfGrid>
    </div>
</div>

<AddEditTerm @ref="AddEditTermRef"></AddEditTerm>