<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/adminlte/css/adminlte.min.css">
    <title>@ViewBag.Title</title>
</head>
<body class="login-page" style="min-height: 496.781px;">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Identity/Account/Login">Micro Finance Login</a>
        </div>

        <div class="card">
            @RenderBody()
        </div>
    </div>



    <script src="~/adminlte/js/adminlte.min.js"></script>


</body>
</html>
